<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Art/Enemy sprites/barnacle.png</key>
		<dict>
			<key>frame</key>
			<string>{{415, 1449}, {102, 114}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 114}}</string>
			<key>sourceSize</key>
			<string>{102, 114}</string>
		</dict>
		<key>Art/Enemy sprites/barnacle_bite.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 1753}, {102, 116}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 116}}</string>
			<key>sourceSize</key>
			<string>{102, 116}</string>
		</dict>
		<key>Art/Enemy sprites/barnacle_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{415, 1565}, {102, 114}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 114}}</string>
			<key>sourceSize</key>
			<string>{102, 114}</string>
		</dict>
		<key>Art/Enemy sprites/barnacle_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{145, 1933}, {102, 114}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 114}}</string>
			<key>sourceSize</key>
			<string>{102, 114}</string>
		</dict>
		<key>Art/Enemy sprites/bat.png</key>
		<dict>
			<key>frame</key>
			<string>{{249, 1907}, {140, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 94}}</string>
			<key>sourceSize</key>
			<string>{140, 94}</string>
		</dict>
		<key>Art/Enemy sprites/bat_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{215, 143}, {140, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 94}}</string>
			<key>sourceSize</key>
			<string>{140, 94}</string>
		</dict>
		<key>Art/Enemy sprites/bat_fly.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1777}, {176, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {176, 74}}</string>
			<key>sourceSize</key>
			<string>{176, 74}</string>
		</dict>
		<key>Art/Enemy sprites/bat_hang.png</key>
		<dict>
			<key>frame</key>
			<string>{{699, 1971}, {76, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {76, 96}}</string>
			<key>sourceSize</key>
			<string>{76, 96}</string>
		</dict>
		<key>Art/Enemy sprites/bat_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{215, 1}, {140, 94}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {140, 94}}</string>
			<key>sourceSize</key>
			<string>{140, 94}</string>
		</dict>
		<key>Art/Enemy sprites/bee.png</key>
		<dict>
			<key>frame</key>
			<string>{{605, 1745}, {112, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 96}}</string>
			<key>sourceSize</key>
			<string>{112, 96}</string>
		</dict>
		<key>Art/Enemy sprites/bee_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 1233}, {112, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 96}}</string>
			<key>sourceSize</key>
			<string>{112, 96}</string>
		</dict>
		<key>Art/Enemy sprites/bee_fly.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 985}, {122, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 84}}</string>
			<key>sourceSize</key>
			<string>{122, 84}</string>
		</dict>
		<key>Art/Enemy sprites/bee_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{327, 1233}, {112, 96}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {112, 96}}</string>
			<key>sourceSize</key>
			<string>{112, 96}</string>
		</dict>
		<key>Art/Enemy sprites/fishGreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 1575}, {120, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 90}}</string>
			<key>sourceSize</key>
			<string>{120, 90}</string>
		</dict>
		<key>Art/Enemy sprites/fishGreen_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 1331}, {120, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 90}}</string>
			<key>sourceSize</key>
			<string>{120, 90}</string>
		</dict>
		<key>Art/Enemy sprites/fishGreen_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{577, 1313}, {114, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 88}}</string>
			<key>sourceSize</key>
			<string>{114, 88}</string>
		</dict>
		<key>Art/Enemy sprites/fishGreen_swim.png</key>
		<dict>
			<key>frame</key>
			<string>{{519, 1547}, {114, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 88}}</string>
			<key>sourceSize</key>
			<string>{114, 88}</string>
		</dict>
		<key>Art/Enemy sprites/fishPink.png</key>
		<dict>
			<key>frame</key>
			<string>{{437, 1075}, {120, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 90}}</string>
			<key>sourceSize</key>
			<string>{120, 90}</string>
		</dict>
		<key>Art/Enemy sprites/fishPink_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 709}, {120, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 90}}</string>
			<key>sourceSize</key>
			<string>{120, 90}</string>
		</dict>
		<key>Art/Enemy sprites/fishPink_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{519, 1431}, {114, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 88}}</string>
			<key>sourceSize</key>
			<string>{114, 88}</string>
		</dict>
		<key>Art/Enemy sprites/fishPink_swim.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 1869}, {114, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 88}}</string>
			<key>sourceSize</key>
			<string>{114, 88}</string>
		</dict>
		<key>Art/Enemy sprites/fly.png</key>
		<dict>
			<key>frame</key>
			<string>{{513, 1753}, {114, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 90}}</string>
			<key>sourceSize</key>
			<string>{114, 90}</string>
		</dict>
		<key>Art/Enemy sprites/fly_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{511, 1197}, {114, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 90}}</string>
			<key>sourceSize</key>
			<string>{114, 90}</string>
		</dict>
		<key>Art/Enemy sprites/fly_fly.png</key>
		<dict>
			<key>frame</key>
			<string>{{215, 425}, {130, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 78}}</string>
			<key>sourceSize</key>
			<string>{130, 78}</string>
		</dict>
		<key>Art/Enemy sprites/fly_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{485, 1315}, {114, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 90}}</string>
			<key>sourceSize</key>
			<string>{114, 90}</string>
		</dict>
		<key>Art/Enemy sprites/frog.png</key>
		<dict>
			<key>frame</key>
			<string>{{431, 1871}, {116, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 78}}</string>
			<key>sourceSize</key>
			<string>{116, 78}</string>
		</dict>
		<key>Art/Enemy sprites/frog_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 861}, {122, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 108}}</string>
			<key>sourceSize</key>
			<string>{122, 108}</string>
		</dict>
		<key>Art/Enemy sprites/frog_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 737}, {122, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 108}}</string>
			<key>sourceSize</key>
			<string>{122, 108}</string>
		</dict>
		<key>Art/Enemy sprites/frog_leap.png</key>
		<dict>
			<key>frame</key>
			<string>{{305, 585}, {122, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 108}}</string>
			<key>sourceSize</key>
			<string>{122, 108}</string>
		</dict>
		<key>Art/Enemy sprites/ghost.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 889}, {102, 146}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 146}}</string>
			<key>sourceSize</key>
			<string>{102, 146}</string>
		</dict>
		<key>Art/Enemy sprites/ghost_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 741}, {102, 146}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 146}}</string>
			<key>sourceSize</key>
			<string>{102, 146}</string>
		</dict>
		<key>Art/Enemy sprites/ghost_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 1037}, {102, 146}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 146}}</string>
			<key>sourceSize</key>
			<string>{102, 146}</string>
		</dict>
		<key>Art/Enemy sprites/ghost_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 593}, {102, 146}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 146}}</string>
			<key>sourceSize</key>
			<string>{102, 146}</string>
		</dict>
		<key>Art/Enemy sprites/grassBlock.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 1619}, {142, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {142, 140}}</string>
			<key>sourceSize</key>
			<string>{142, 140}</string>
		</dict>
		<key>Art/Enemy sprites/grassBlock_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 1475}, {142, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {142, 140}}</string>
			<key>sourceSize</key>
			<string>{142, 140}</string>
		</dict>
		<key>Art/Enemy sprites/grassBlock_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 1331}, {142, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {142, 140}}</string>
			<key>sourceSize</key>
			<string>{142, 140}</string>
		</dict>
		<key>Art/Enemy sprites/grassBlock_jump.png</key>
		<dict>
			<key>frame</key>
			<string>{{185, 1763}, {142, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {142, 140}}</string>
			<key>sourceSize</key>
			<string>{142, 140}</string>
		</dict>
		<key>Art/Enemy sprites/ladyBug.png</key>
		<dict>
			<key>frame</key>
			<string>{{415, 1331}, {116, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 68}}</string>
			<key>sourceSize</key>
			<string>{116, 68}</string>
		</dict>
		<key>Art/Enemy sprites/ladyBug_fly.png</key>
		<dict>
			<key>frame</key>
			<string>{{345, 1881}, {118, 84}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {118, 84}}</string>
			<key>sourceSize</key>
			<string>{118, 84}</string>
		</dict>
		<key>Art/Enemy sprites/ladyBug_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{441, 1197}, {116, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 68}}</string>
			<key>sourceSize</key>
			<string>{116, 68}</string>
		</dict>
		<key>Art/Enemy sprites/ladyBug_walk.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 1109}, {122, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 68}}</string>
			<key>sourceSize</key>
			<string>{122, 68}</string>
		</dict>
		<key>Art/Enemy sprites/mouse.png</key>
		<dict>
			<key>frame</key>
			<string>{{343, 1451}, {118, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {118, 70}}</string>
			<key>sourceSize</key>
			<string>{118, 70}</string>
		</dict>
		<key>Art/Enemy sprites/mouse_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{343, 1571}, {118, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {118, 70}}</string>
			<key>sourceSize</key>
			<string>{118, 70}</string>
		</dict>
		<key>Art/Enemy sprites/mouse_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{343, 1331}, {118, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {118, 70}}</string>
			<key>sourceSize</key>
			<string>{118, 70}</string>
		</dict>
		<key>Art/Enemy sprites/mouse_walk.png</key>
		<dict>
			<key>frame</key>
			<string>{{511, 1871}, {116, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {116, 70}}</string>
			<key>sourceSize</key>
			<string>{116, 70}</string>
		</dict>
		<key>Art/Enemy sprites/piranha.png</key>
		<dict>
			<key>frame</key>
			<string>{{345, 1109}, {90, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 120}}</string>
			<key>sourceSize</key>
			<string>{90, 120}</string>
		</dict>
		<key>Art/Enemy sprites/piranha_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 831}, {90, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 120}}</string>
			<key>sourceSize</key>
			<string>{90, 120}</string>
		</dict>
		<key>Art/Enemy sprites/piranha_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{361, 953}, {90, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 120}}</string>
			<key>sourceSize</key>
			<string>{90, 120}</string>
		</dict>
		<key>Art/Enemy sprites/piranha_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 1453}, {90, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {90, 120}}</string>
			<key>sourceSize</key>
			<string>{90, 120}</string>
		</dict>
		<key>Art/Enemy sprites/slime.png</key>
		<dict>
			<key>frame</key>
			<string>{{415, 553}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slimeBlock.png</key>
		<dict>
			<key>frame</key>
			<string>{{609, 1533}, {102, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 100}}</string>
			<key>sourceSize</key>
			<string>{102, 100}</string>
		</dict>
		<key>Art/Enemy sprites/slimeBlock_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{609, 1429}, {102, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 100}}</string>
			<key>sourceSize</key>
			<string>{102, 100}</string>
		</dict>
		<key>Art/Enemy sprites/slimeBlock_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{683, 1637}, {102, 100}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {102, 100}}</string>
			<key>sourceSize</key>
			<string>{102, 100}</string>
		</dict>
		<key>Art/Enemy sprites/slimeBlue.png</key>
		<dict>
			<key>frame</key>
			<string>{{421, 413}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slimeBlue_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 1697}, {114, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 60}}</string>
			<key>sourceSize</key>
			<string>{114, 60}</string>
		</dict>
		<key>Art/Enemy sprites/slimeBlue_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{463, 285}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slimeBlue_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{773, 1741}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slimeBlue_squashed.png</key>
		<dict>
			<key>frame</key>
			<string>{{215, 557}, {114, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 26}}</string>
			<key>sourceSize</key>
			<string>{114, 26}</string>
		</dict>
		<key>Art/Enemy sprites/slimeGreen.png</key>
		<dict>
			<key>frame</key>
			<string>{{825, 1841}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slimeGreen_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{867, 1941}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slimeGreen_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{703, 1741}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slimeGreen_squashed.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 257}, {114, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 26}}</string>
			<key>sourceSize</key>
			<string>{114, 26}</string>
		</dict>
		<key>Art/Enemy sprites/slimeGreen_walk.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 1985}, {114, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 60}}</string>
			<key>sourceSize</key>
			<string>{114, 60}</string>
		</dict>
		<key>Art/Enemy sprites/slime_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{755, 1841}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slime_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{797, 1941}, {98, 68}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {98, 68}}</string>
			<key>sourceSize</key>
			<string>{98, 68}</string>
		</dict>
		<key>Art/Enemy sprites/slime_squashed.png</key>
		<dict>
			<key>frame</key>
			<string>{{427, 257}, {114, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 26}}</string>
			<key>sourceSize</key>
			<string>{114, 26}</string>
		</dict>
		<key>Art/Enemy sprites/slime_walk.png</key>
		<dict>
			<key>frame</key>
			<string>{{367, 1691}, {114, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {114, 60}}</string>
			<key>sourceSize</key>
			<string>{114, 60}</string>
		</dict>
		<key>Art/Enemy sprites/snail.png</key>
		<dict>
			<key>frame</key>
			<string>{{673, 1859}, {110, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 80}}</string>
			<key>sourceSize</key>
			<string>{110, 80}</string>
		</dict>
		<key>Art/Enemy sprites/snail_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 1663}, {110, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 80}}</string>
			<key>sourceSize</key>
			<string>{110, 80}</string>
		</dict>
		<key>Art/Enemy sprites/snail_shell.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 1681}, {86, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {86, 70}}</string>
			<key>sourceSize</key>
			<string>{86, 70}</string>
		</dict>
		<key>Art/Enemy sprites/snail_walk.png</key>
		<dict>
			<key>frame</key>
			<string>{{327, 1759}, {120, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {120, 80}}</string>
			<key>sourceSize</key>
			<string>{120, 80}</string>
		</dict>
		<key>Art/Enemy sprites/snake.png</key>
		<dict>
			<key>frame</key>
			<string>{{485, 1}, {126, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 46}}</string>
			<key>sourceSize</key>
			<string>{126, 46}</string>
		</dict>
		<key>Art/Enemy sprites/snakeLava.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 889}, {106, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {106, 294}}</string>
			<key>sourceSize</key>
			<string>{106, 294}</string>
		</dict>
		<key>Art/Enemy sprites/snakeLava_ani.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 297}, {104, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 294}}</string>
			<key>sourceSize</key>
			<string>{104, 294}</string>
		</dict>
		<key>Art/Enemy sprites/snakeLava_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 593}, {106, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {106, 294}}</string>
			<key>sourceSize</key>
			<string>{106, 294}</string>
		</dict>
		<key>Art/Enemy sprites/snakeLava_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 297}, {106, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {106, 294}}</string>
			<key>sourceSize</key>
			<string>{106, 294}</string>
		</dict>
		<key>Art/Enemy sprites/snakeSlime.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {106, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {106, 294}}</string>
			<key>sourceSize</key>
			<string>{106, 294}</string>
		</dict>
		<key>Art/Enemy sprites/snakeSlime_ani.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 1}, {104, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 294}}</string>
			<key>sourceSize</key>
			<string>{104, 294}</string>
		</dict>
		<key>Art/Enemy sprites/snakeSlime_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1481}, {106, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {106, 294}}</string>
			<key>sourceSize</key>
			<string>{106, 294}</string>
		</dict>
		<key>Art/Enemy sprites/snakeSlime_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1185}, {106, 294}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {106, 294}}</string>
			<key>sourceSize</key>
			<string>{106, 294}</string>
		</dict>
		<key>Art/Enemy sprites/snake_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{437, 1}, {126, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 46}}</string>
			<key>sourceSize</key>
			<string>{126, 46}</string>
		</dict>
		<key>Art/Enemy sprites/snake_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{367, 285}, {126, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 46}}</string>
			<key>sourceSize</key>
			<string>{126, 46}</string>
		</dict>
		<key>Art/Enemy sprites/snake_walk.png</key>
		<dict>
			<key>frame</key>
			<string>{{439, 129}, {126, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 46}}</string>
			<key>sourceSize</key>
			<string>{126, 46}</string>
		</dict>
		<key>Art/Enemy sprites/spider.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1955}, {142, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {142, 90}}</string>
			<key>sourceSize</key>
			<string>{142, 90}</string>
		</dict>
		<key>Art/Enemy sprites/spider_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{215, 285}, {138, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {138, 102}}</string>
			<key>sourceSize</key>
			<string>{138, 102}</string>
		</dict>
		<key>Art/Enemy sprites/spider_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{213, 593}, {142, 90}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {142, 90}}</string>
			<key>sourceSize</key>
			<string>{142, 90}</string>
		</dict>
		<key>Art/Enemy sprites/spider_walk1.png</key>
		<dict>
			<key>frame</key>
			<string>{{109, 1185}, {144, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {144, 102}}</string>
			<key>sourceSize</key>
			<string>{144, 102}</string>
		</dict>
		<key>Art/Enemy sprites/spider_walk2.png</key>
		<dict>
			<key>frame</key>
			<string>{{77, 1777}, {154, 106}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {154, 106}}</string>
			<key>sourceSize</key>
			<string>{154, 106}</string>
		</dict>
		<key>Art/Enemy sprites/spinner.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 1}, {126, 124}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 124}}</string>
			<key>sourceSize</key>
			<string>{126, 124}</string>
		</dict>
		<key>Art/Enemy sprites/spinnerHalf.png</key>
		<dict>
			<key>frame</key>
			<string>{{375, 129}, {126, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 62}}</string>
			<key>sourceSize</key>
			<string>{126, 62}</string>
		</dict>
		<key>Art/Enemy sprites/spinnerHalf_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 129}, {126, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 62}}</string>
			<key>sourceSize</key>
			<string>{126, 62}</string>
		</dict>
		<key>Art/Enemy sprites/spinnerHalf_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{299, 985}, {122, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 60}}</string>
			<key>sourceSize</key>
			<string>{122, 60}</string>
		</dict>
		<key>Art/Enemy sprites/spinnerHalf_spin.png</key>
		<dict>
			<key>frame</key>
			<string>{{283, 1109}, {122, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 60}}</string>
			<key>sourceSize</key>
			<string>{122, 60}</string>
		</dict>
		<key>Art/Enemy sprites/spinner_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{295, 425}, {126, 124}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 124}}</string>
			<key>sourceSize</key>
			<string>{126, 124}</string>
		</dict>
		<key>Art/Enemy sprites/spinner_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{581, 1}, {122, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 122}}</string>
			<key>sourceSize</key>
			<string>{122, 122}</string>
		</dict>
		<key>Art/Enemy sprites/spinner_spin.png</key>
		<dict>
			<key>frame</key>
			<string>{{535, 129}, {122, 122}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {122, 122}}</string>
			<key>sourceSize</key>
			<string>{122, 122}</string>
		</dict>
		<key>Art/Enemy sprites/worm.png</key>
		<dict>
			<key>frame</key>
			<string>{{319, 285}, {126, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 46}}</string>
			<key>sourceSize</key>
			<string>{126, 46}</string>
		</dict>
		<key>Art/Enemy sprites/worm_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{487, 129}, {126, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 46}}</string>
			<key>sourceSize</key>
			<string>{126, 46}</string>
		</dict>
		<key>Art/Enemy sprites/worm_hit.png</key>
		<dict>
			<key>frame</key>
			<string>{{533, 1}, {126, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 46}}</string>
			<key>sourceSize</key>
			<string>{126, 46}</string>
		</dict>
		<key>Art/Enemy sprites/worm_walk.png</key>
		<dict>
			<key>frame</key>
			<string>{{415, 285}, {126, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {126, 46}}</string>
			<key>sourceSize</key>
			<string>{126, 46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Enemy sprites.png</string>
	</dict>
</dict>
</plist>
